# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__pycache__/
*.db.sqlite3

# Static files
staticfiles/
*.swp

# Media files
media/
*.log
*.bak
*.backup

# Environment variables
.env

# Dependency directories
myenv/
.env

# Local development settings
local_settings.py

# IDE-specific files
.idea/
.vscode/

# System files
.DS_Store

# Compiled Python files
*.pyc

# Mac-specific
.DS_Store

# Windows-specific
Thumbs.db


# Ignore database file
db.sqlite3
